<% if @records.blank? %>
  <p>Books are not currently in the system.</p>
<% else %>
  <p>These are the current books in our system</p>

  <div class = "records">
    <% @records.each do |c| %>
      <%# <li><%= link_to c.number, {:action => 'show', :id => c.id} -%>
      <h1><%= c.number %></h1>
      <h4><%= c.count %></h4>
    <% end %>
  </div>

<% end %>
<p><%= link_to "Update a Record", {:action => 'new' }%></p>
